
        body {
            background-color: white;
        }
    
        h1 {
            color: black;
            text-align: center;
        }
    
        h2 {
            color: black;
        } 
        
       h3 {
           color: black;
       }

        #imageborder {
            border-style: solid;
            border-width: 10px;
            border-color: orange;
        }